
<div ng-app="MoviesApp">
 <div class="center_button" ng-click="showDetails=!showDetails">
  <button class="btn red" ng-disabled="showDetails" ng-hide="showDetails">Places</button>
 </div>
 <div class="content_movies" ng-show="showDetails" ng-controller="moviesCtrl">

<style>
  
  table#t01 {
    width: 75%;    
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  tr:nth-child(even) {background:#9AFF9A}
  tr:nth-child(odd) {background:#ADD8E6}

</style>
 
<table align="center" border="1" style="width: 600px; height: 400px;">

 <caption><h1>Famous Casting Of Movies  </h1></caption>
  <tr align="center" style="background-color:#660000; color:white">
    <th align="center">Cast Name</th>
    <th align="center">Location</th> 
  </tr>
  <tr ng-repeat="movie in movies" align="center">
    <td>
      <div class="content_text">"{{movie.title}}"</div>
    </td>
    <td>
      <div class="content_text">"{{movie.location}}"</div>
    </td>
  </tr>   
</table>

<br>
  <table id="t01" align="center" border="1">
  <caption><h2>Castes of the Movies with the Location</h2></caption>
    <tbody>
      <tr align="center" style="background-color:#660000; color:white">
      <th align="center">Caste Name</th>
      <th align="center">Locations</th> 
      </tr>
      <tr ng-repeat="movie in movies" align="center">
        <td>
        <div class="content_text">"{{movie.title}}" was shot at "{{movie.location}}"</div>
        </td>
    <td>
        <img title="{{movie.title}} was shot at {{movie.location}}" width="600" src="http://maps.googleapis.com/maps/api/staticmap?center={{movie.location}}&zoom=7&scale=false&size=600x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:Red%7Clabel:M%7C{{movie.location}}">
    </td>
    </tr>
          
    </tbody>
  </table>

<table align="center" border="1">
<caption><h2>Location-Wise Distribution</h2></caption>
<tr>
<td>  <div id="piechart" align="center" border="1" style="width: 200%; height: 200%;"></div></td>
</tr>
</table>

<table align="center" border="1">
<caption><h2>Places Of Casting with the Map of the Locations</h2></caption>
<tr>
<td> 
<div align="center" border="1" style="width: 80%; height: 80%;">
  <div  id="map" style='width: 300px;height: 100px;'></div>
</div>

</td>
</tr> 
</table>



<footer align="center" style="background-color:#660000; color:white">
<br>Submitted by Brinda Mukundan
<br>NetID: bmx2211
</footer>

</div>
</div>